body {
  color: #434455;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

/*                     header                 */

.header-border {
  border-bottom: 1px solid #e7e9fc;
}

.header-border-div {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header-nav-container {
  display: flex;
  align-items: center;
}

.header-container-logo {
  margin-right: 76px
}

.header-container-spisok {
  display: flex;
  gap: 40px;
}

.header-spisok {
  margin-right: 40px;
  padding: 24px 0 24px 0;
}

.header-spisok-mar {
  margin-right: 0;
  padding: 24px 0 24px 0;
}

.header-container-contact {
  display: flex;
  gap: 40px;
}

.header-container-contact-spisok {
  margin-right: 40px;
}

.header-container-contact-spisok-mar {
  margin-right: 0;
}

.highlight {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.main-logo {
  color: #2e2f42;
}

.spisok {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.spisok:hover,
.spisok:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

/*                 body section 1              */

.sec-one {
  background-color: #2e2f42;
  padding: 188px 0 188px 0;
}

.sec-one-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.sec-one-button {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}

.sec-one-button:hover,
.sec-one-button:focus {
  background-color: #404BBF;
}

/*                 body section 2              */

.sec-two {

}

.sec-two-zagolovok {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*                 body section 3              */

.sec-three {
  background-color: #F4F4FD;
}

.sec-three-zagolovok {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.sec-three-spisok {
  background-color: #FFFFFF;
}

.sec-three-fio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-three-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*                 body section 4               */

.sec-four-zagolovok {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.sec-four-opis {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*                   footer                 */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}